@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<PizzaAflevering.Models.Database.Pizza>
<div class="jumbotron">
    <h1>Pizzamania</h1>
    <!--<p>@ViewBag.dbTest</p>-->
    <input id="idMenu" />
    <button id="btnOrder">Køb pizza</button>
</div>



